html {
  background-color: #0c082e;
  height: 100%;
  width: 100%;
  user-select: none;
}

body {
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 1px;
  font-family: Arial, sans-serif;
  color: #c7d6f0;
  background-color: #304e88;
  box-sizing: border-box;
  width: 40%;
  min-width: 327px;
  max-width: 425px;
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

img {
  width: auto;
  vertical-align: -4px;
}

#headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#headerWrapper > div:last-child > img {
  height: 16px;
  filter: invert(100%);
  vertical-align: -2px;
}
#headerWrapper > div:last-child > span {
  font-size: 1em;
  font-weight: 600;
  padding-left: 2px;
}

h4 {
  margin: 0;
}

#panelsWrapper, #tempWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

#tempMinMaxWrapper {
  font-size: 0.8em;
  opacity: 0.6;
  filter: brightness(2);
}

#tempCurrent {
  margin: 1px;
  font-size: 2.5em;
  font-weight: bold;
}
#tempCurrent + img {
  padding-left: 2px;
  height: 36px;
}

#description {
  margin-bottom: 0;
  font-weight: bold;
}

#tempFeelsLike {
  margin: 4px 0;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.6;
  filter: brightness(2);
}

#themeImgContainer {
  margin: 10px -15px;
  margin-top: 0;
  display: block;
  position: relative;
  width: calc(100% + 30px);
  height: 140px;
  overflow: hidden;
}
#themeImgContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px -20px 10px -15px #304e88 inset, 0px 20px 15px -15px #304e88 inset, 0px -30px 15px -20px #304e88 inset, 0px 40px 30px -20px #304e88 inset;
  z-index: 1;
}
#themeImgContainer img {
  position: absolute;
  bottom: -125px;
  width: 425px;
  z-index: 0;
}

table {
  margin: 10px 0;
  width: 100%;
  font-size: 1em;
  color: white;
  font-weight: 600;
  border-collapse: collapse;
}
table tr {
  border-bottom: 2px solid #304e88;
  background-color: #182f57;
}
table tr td {
  padding: 15px;
}
table tr td:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
table tr td:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
table tr:first-child td:first-child {
  border-top-left-radius: 1em;
}
table tr:first-child td:last-child {
  border-top-right-radius: 1em;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
}
table tr td:last-child {
  text-align: right;
}
table tr td:last-child > span:last-child {
  color: #c7d6f0;
}
table tr:hover {
  filter: brightness(1.2);
  animation: hoverSlowly 400ms;
}
table tr:last-child {
  border-bottom: none;
}

.weatherSymbol {
  height: 20px;
}

#panelsWrapper {
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

#panelsWrapper > * {
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #182f57;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 0 40%;
  color: white;
  padding: 20px;
  height: 150px;
}
#panelsWrapper > :hover {
  filter: brightness(1.2);
  animation: hoverSlowly 400ms;
}

#panelsWrapper > * img {
  display: block;
  height: 55px;
}
#panelsWrapper > *:last-child img {
  transform: scale(1.3);
}

#panelsWrapper > * > * {
  margin: 0;
  font-size: 0.8em;
}
#panelsWrapper > * > *:first-child {
  font-weight: bold;
}
#panelsWrapper > * > * > span {
  font-size: 1.4em;
}

#refreshButton {
  display: block;
  margin: 16px auto;
  border: 0;
  border-radius: 1em;
  width: 50%;
  height: 40px;
  color: white;
  background-color: #182f57;
}
#refreshButton:hover {
  filter: brightness(1.2);
  animation: hoverSlowly 400ms;
}
#refreshButton:active {
  filter: brightness(0.75);
}

@keyframes hoverSlowly {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.2);
  }
}

/*# sourceMappingURL=styles.css.map */
